<!DOCTYPE html>
{% extends 'base.html' %}
{% block body_block %}
    <h1 align="center">Welcome to exames page</h1>
    <h2 align="center">Rules</h2>
    <style>
        h1{color: green; font-size:100px
        }
    h2{color: aqua;
    font-size:100px}
    ui{color: black}

    </style>
    <div class="jambotron" align="center">
        <div class="container" ><ui>
        <li>Rule1: you should write only one exam per day</li>
        <li>Rule2: exam will start after ur login </li>
        <li>Rule3: each quetion carries only one mark</li>
        </ui></div></div>
{% endblock %}